<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
        <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
        <link th:href="@{/css/jquery.datetimepicker.css}" rel="stylesheet" />
        <link th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/bahastyles.css" />
        <link th:href="@{/css/prism.css}" rel="stylesheet" type="text/css" />

        <title>Aplicación de Gestión de Tareas por BaHaMuT7</title>
    </head>

    <body>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-xl-12" style="background-color: yellow;">
                    <img th:src="@{/img/banner-pilar.png}" class="img-fluid" alt="Gestión de tareas">
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-xl-10">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="">Gestión de tareas</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item"><a class="nav-link active" th:href="@{/tareas}">Tareas</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/servicios}">Servicios</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/perfil}">Perfil</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-xl-2 pt-2 pr-2 bg-dark">
                    <div align="right">
                        <a th:href="@{/kill}" class="btn btn-danger">Salir</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters pt-4">
                <div class="col-md-12">
                    <div th:if="${mensaje == 'successAgregarTarea'}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <span>La tarea se agregó correctamente</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${mensaje == 'dangerAgregarTarea'}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span>No se pudo agregar la tarea</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${mensaje == 'successModifiarTarea'}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <span>La tarea se modificó correctamente</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${mensaje == 'dangerModifiarTarea'}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span>No se pudo modificar la tarea</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>                    
                    
                    <div th:if="${mensaje == 'dangerObtenerTarea'}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span>No se encontró la tarea que busca</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${mensaje == 'successCompletarTarea'}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <span>¡Tarea completada!</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${mensaje == 'dangerCompletarTarea'}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span>No se pudo declarar la tarea como completada</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>  
                    <div th:if="${mensaje == 'successReasignarTarea'}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <span>¡Tarea reasignada!</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${mensaje == 'dangerReasignarTarea'}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span>No se pudo reasignar la tarea</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>                                                                                
                </div>
            </div>
            <div class="row no-gutters pt-3" id="tareasPendientes">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header text-white bg-dark">Lista de tareas pendientes</div>
                        <div class="card-body">
                            <table id="pendientes" class="table table-hover table-responsive-xl table-dark ts">
                                <thead>
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Servicio</th>
                                        <th scope="col">Descripcón</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Plazo</th>
                                        <th scope="col">¿Terminada?</th>
                                        <th scope="col">Pedida por</th>
                                        <th scope="col">Ejecutada por</th>
                                        <th scope="col">Operaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="tarea: ${session.tareasUsuario}" th:if="${!tarea.cumplida}" >
                                        <th scope="row" th:text="${tarea.codigo}"></th>
                                        <td th:text="${tarea.servicio.nombre}"></td>
                                        <td th:text="${tarea.descripcion}"></td>
                                        <td th:text="${#dates.format(tarea.fecha, 'dd-MM-yyyy HH:mm')}"></td>
                                        <td th:text="${#dates.format(tarea.plazo, 'dd-MM-yyyy HH:mm')}"></td>
                                        
                                        <td style="color: #7FFF00;" th:if="${tarea.cumplida}">Sí</td>
                                        <td style="color: #FF6347;" th:if="${!tarea.cumplida}">No</td>
                                        
                                        <td th:text="${tarea.pedidaPor}"></td>
                                        <td th:text="${tarea.ejecutadaPor}"></td>
                                        <td align="center">
                                            <a th:href="@{/explorar/} + ${tarea.codigo}" class="btn btn-primary">Ver detalles</a> &nbsp; <a th:href="@{/modTarea/{codigo} (codigo=${tarea.codigo})}" class="btn btn-warning">Modificar</a> &nbsp;
                                            <a th:href="@{/completar/} + ${tarea.codigo}" class="btn btn-success">Completar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters pt-3" id="tareasCompletadas">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header text-white bg-dark">Lista de tareas completadas</div>
                        <div class="card-body">
                            <table id="completadas" class="table table-hover table-responsive-xl table-dark ts">
                                <thead>
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Servicio</th>
                                        <th scope="col">Descripcón</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Plazo</th>
                                        <th scope="col">¿Terminada?</th>
                                        <th scope="col">Pedida por</th>
                                        <th scope="col">Ejecutada por</th>
                                        <th scope="col">Operaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  th:each="tarea: ${session.tareasUsuario}" th:if="${tarea.cumplida}">
                                        <th scope="row" th:text="${tarea.codigo}"></th>
                                        <td th:text="${tarea.servicio.nombre}"></td>
                                        <td th:text="${tarea.descripcion}"></td>
                                        <td th:text="${#dates.format(tarea.fecha, 'dd-MM-yyyy HH:mm')}"></td>
                                        <td th:text="${#dates.format(tarea.plazo, 'dd-MM-yyyy HH:mm')}"></td>
                                        
                                        <td style="color: #7FFF00;" th:if="${tarea.cumplida}">Sí</td>
                                        <td style="color: #FF6347;" th:if="${!tarea.cumplida}">No</td>
                                        
                                        <td th:text="${tarea.pedidaPor}"></td>
                                        <td th:text="${tarea.ejecutadaPor}"></td>
                                        <td align="center"><a th:href="@{/explorar/} + ${tarea.codigo}" class="btn btn-primary">Ver detalles</a> &nbsp; <a th:href="@{/reasignar/} + ${tarea.codigo}"class="btn btn-danger">Reasignar</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters pt-3" id="insercionTareas">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header text-white bg-dark">Ingresar tarea</div>
                        <div class="card-body">
                            <div id="secImagenes" align="center" class="pb-5">
                                <a th:href="@{/gatillarSubida}" class="btn btn-primary text-white" target="_blank">Subir imágenes</a>
                            </div>
                            <div id="formu">
                                <form th:action="@{/agregarTarea}" method="POST" enctype="multipart/form-data">
                                    <label for="servicio">Servicio:</label> <br />
                                    <select id="servicio" name="servicio" class="form-control">
                                        <option th:each="servicio: ${servicios}" th:text="${servicio.nombre}" th:value="${servicio.id}"></option>
                                    </select>
                                    <div id="mjServicio"></div>
                                    <br />
                                    <label for="descripcion">Descripción:</label> <br />
                                    <input type="text" class="form-control" id="descripcion" name="descripcion" autocomplete="off" required />
                                    <div id="mjDescripcion"></div>
                                    <br />
                                    <label for="cuerpo">Cuerpo:</label> <br />
                                    <textarea id="cuerpo" name="cuerpo" class="form-control" rows="20"></textarea>
                                    <div id="mjCuerpo"></div>
                                    <br />
                                    <label for="fecha">Fecha de solicitud: </label> <br />
                                    <input type="datetime" class="form-control" name="fecha" id="fecha" /> <br />
                                    <label for="plazo">Plazo: </label> <br />
                                    <input type="datetime" class="form-control" name="plazo" id="plazo" /> <br />
                                    <label for="pedidaPor">Pedida por:</label> <br />
                                    <input type="text" class="form-control" id="pedidaPor" name="pedidaPor" autocomplete="off" required />
                                    <div id="mjPedidaPor"></div>
                                    <br />
                                    <label for="ejecutadaPor">Ejecutada por:</label> <br />
                                    <input type="text" class="form-control" id="ejecutadaPor" name="ejecutadaPor" th:value="${session.usuarioActivo.nombre}" autocomplete="off" required disabled />
                                    <div id="mjEjecutadaPor"></div>
                                    <br />
                                    <input type="hidden" name="sendEjecutadaPor" th:value="${session.usuarioActivo.nombre}" /> <input type="submit" class="btn bg-dark text-white" value="Agregar tarea" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters pt-3" id="footer">
                <div class="col-md-12 bg-dark text-white text-center py-4">
                    Copyright &copy;Gestión de tareas. BaHaMuT7
                </div>
            </div>
            <!-- Modales -->
            <div th:if="${session.tareaActiva != null}" class="modal fade" id="cuadroTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span th:text="${modal}" id="modalValor" style="display: none;"></span>
                            <h5 class="modal-title"><span>Revisión de tarea</span> &nbsp; <span th:text="${session.tareaActiva.codigo}"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div th:if="${fActiveBody == 'general'}"class="card text-center">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs">
                                        <li class="nav-item"><a class="nav-link active" th:href="@{/explorar/} + ${session.tareaActiva.codigo}" >Información</a></li>
                                        <li class="nav-item"><a class="nav-link" th:href="@{/explorar/detalle/} + ${session.tareaActiva.codigo}" >Notas y Evidencias</a></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item active">Información escencial de la tarea</li>
                                        <li class="list-group-item"><b>Código:</b> &nbsp; <span th:text="${session.tareaActiva.codigo}"></span></li>
                                        <li class="list-group-item"><b>Servicio:</b> &nbsp; <span th:text="${session.tareaActiva.servicio.nombre}"></span></li>
                                        <li class="list-group-item"><b>Descripción:</b> &nbsp; <span th:text="${session.tareaActiva.descripcion}"></span></li>
                                        <li class="list-group-item"><b>Ingreso:</b> &nbsp; <span th:text="${session.tareaActiva.fecha}"></span></li>
                                        <li class="list-group-item"><b>Cumplida:</b> &nbsp; <span th:text="${session.tareaActiva.cumplida}"></span></li>
                                        <li class="list-group-item"><b>Solicitada por:</b> &nbsp; <span th:text="${session.tareaActiva.pedidaPor}"></span></li>
                                        <li class="list-group-item"><b>Ejecutada por:</b> &nbsp; <span th:text="${session.tareaActiva.ejecutadaPor}"></span></li>
                                        <li class="list-group-item bg-danger text-white"><b>Plazo:</b> &nbsp; <span th:text="${session.tareaActiva.plazo}"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div th:if="${fActiveBody == 'detalle'}"class="card">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs">
                                        <li class="nav-item"><a class="nav-link" th:href="@{/explorar/} + ${session.tareaActiva.codigo}" >Información</a></li>
                                        <li class="nav-item"><a class="nav-link active" th:href="@{/explorar/detalle/} + ${session.tareaActiva.codigo}" >Notas y Evidencias</a></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                    	<div id="cuerpoActivo" th:utext="${session.tareaActiva.cuerpo}" class="col-lg-12">
                                    	</div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#pendientes").DataTable({
                    language: {
                        sProcessing: "Procesando...",
                        sLengthMenu: "Mostrar _MENU_ registros",
                        sZeroRecords: "No se encontraron resultados",
                        sEmptyTable: "Ningún dato disponible en esta tabla",
                        sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                        sInfoPostFix: "",
                        sSearch: "Buscar:",
                        sUrl: "",
                        sInfoThousands: ",",
                        sLoadingRecords: "Cargando...",
                        oPaginate: {
                            sFirst: "Primero",
                            sLast: "Último",
                            sNext: "Siguiente",
                            sPrevious: "Anterior",
                        },
                        oAria: {
                            sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                            sSortDescending: ": Activar para ordenar la columna de manera descendente",
                        },
                    },
                });
            });
        </script>
        <script type="text/javascript">
            $("#completadas").DataTable({
                language: {
                    sProcessing: "Procesando...",
                    sLengthMenu: "Mostrar _MENU_ registros",
                    sZeroRecords: "No se encontraron resultados",
                    sEmptyTable: "Ningún dato disponible en esta tabla",
                    sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                    sInfoPostFix: "",
                    sSearch: "Buscar:",
                    sUrl: "",
                    sInfoThousands: ",",
                    sLoadingRecords: "Cargando...",
                    oPaginate: {
                        sFirst: "Primero",
                        sLast: "Último",
                        sNext: "Siguiente",
                        sPrevious: "Anterior",
                    },
                    oAria: {
                        sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                        sSortDescending: ": Activar para ordenar la columna de manera descendente",
                    },
                },
            });
        </script>

        <script th:src="@{/js/bootstrap-datetimepicker.js}" type="text/javascript"></script>

        <script th:src="@{/js/locales/bootstrap-datetimepicker.es.js}" type="text/javascript"></script>

        <script>
            $("#fecha").datetimepicker({
                isRTL: false,
                autoclose: true,
                language: "es",
            });

            $("#plazo").datetimepicker({
                isRTL: false,
                autoclose: true,
                language: "es",
            });
        </script>

        <script src="js/bahascript.js"></script>
        <script th:src="@{/js/tinymce/tinymce.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/prism.js}" type="text/javascript"></script>
        <script>
            tinymce.init({
                language: "es_MX",

                selector: "#cuerpo",

                plugins: "textcolor, table, image, codesample",

                codesample_languages: [
                    { text: "HTML/XML", value: "markup" },
                    { text: "JavaScript", value: "javascript" },
                    { text: "CSS", value: "css" },
                    { text: "PHP", value: "php" },
                    { text: "Ruby", value: "ruby" },
                    { text: "Python", value: "python" },
                    { text: "Java", value: "java" },
                    { text: "C", value: "c" },
                    { text: "C#", value: "csharp" },
                    { text: "C++", value: "cpp" },
                ],

                toolbar:
                    "styleselect | undo redo | image  | removeformat | bold italic underline | table \n\
            aligncenter alignjustify  | bullist numlist outdent indent | link | print | \n\
            fontselect fontsizeselect forecolor backcolor | codesample",
            });

            tinymce.init({
                language: "es_MX",

                selector: "#fuente",

                plugins: "textcolor, table, image, codesample",

                codesample_languages: [
                    { text: "HTML/XML", value: "markup" },
                    { text: "JavaScript", value: "javascript" },
                    { text: "CSS", value: "css" },
                    { text: "PHP", value: "php" },
                    { text: "Ruby", value: "ruby" },
                    { text: "Python", value: "python" },
                    { text: "Java", value: "java" },
                    { text: "C", value: "c" },
                    { text: "C#", value: "csharp" },
                    { text: "C++", value: "cpp" },
                ],

                toolbar:
                    "styleselect | undo redo | image  | removeformat | bold italic underline | table \n\
            aligncenter alignjustify  | bullist numlist outdent indent | link | print | \n\
            fontselect fontsizeselect forecolor backcolor | codesample",
            });

            tinymce.init({
                language: "es_MX",

                selector: "#otros",

                plugins: "textcolor, table, image, codesample",

                codesample_languages: [
                    { text: "HTML/XML", value: "markup" },
                    { text: "JavaScript", value: "javascript" },
                    { text: "CSS", value: "css" },
                    { text: "PHP", value: "php" },
                    { text: "Ruby", value: "ruby" },
                    { text: "Python", value: "python" },
                    { text: "Java", value: "java" },
                    { text: "C", value: "c" },
                    { text: "C#", value: "csharp" },
                    { text: "C++", value: "cpp" },
                ],

                toolbar:
                    "styleselect | undo redo | image  | removeformat | bold italic underline | table \n\
            aligncenter alignjustify  | bullist numlist outdent indent | link | print | \n\
            fontselect fontsizeselect forecolor backcolor | codesample",
            });
        </script>
        <script type="text/javascript">
            var modal = document.getElementById("modalValor").innerText;
          
            $(window).on("load", function () {
                $("#" + modal).modal("show");
            });
        </script>             
        <script type="text/javascript">
        	$('#cuerpoActivo').find('img').addClass('img-fluid')
        </script>        
    </body>
</html>

